Name: Lavender Indigo
Hex: #925EEB
RGB: (146, 94, 235)
CMYK: 0.378, 0.6, 0, 0.078
LAVENDER BLUSH	
Name: Lavender Blush
Hex: #FFEDF2
RGB: (255, 237, 242)
CMYK: 0, 0.070, 0.050, 0
Name: Light Hot Pink
Hex: #FBADE9
RGB: (251, 173, 233)
CMYK: 0, 0.310, 0.071, 0.015
LAVENDER MAGENTA	
Name: Lavender Magenta
Hex: #EE88E7
RGB: (238, 136, 231)
CMYK: 0, 0.428, 0.029, 0.066